
.carousel-inner img {width: 100%; max-height: 420px;}
/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 35%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #e2e2e2;
    font-size:20px; letter-spacing:1px;
}
.header-text h2 {font-size: 50px; color:#fff; font-weight:600;}
.header-text h3 span {padding: 15px;}
