.flipkart-navbar-input {
	top: 4px;
    padding: 9px 13px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 1 none;
    font-size: 12px;
}

.flipkart-navbar-button {
	top: 4px;
	background-image: url("../images/iconobuscar.png") no-repeat scroll 0 0 solid;
    background-color: #23728e;
    border: 1px solid #23728e;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 35px;
    cursor: pointer;
}